name: test
on: [push]
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      - name: test
        run: go test -timeout=3s -race -count=10 -shuffle=on -failfast ./...
      - name: generate test coverage
        run: go test ./... -coverprofile=./cover.out -covermode=atomic
      - name: check test coverage
        id: coverage
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ./.testcoverage.yml
      - name: make coverage badge
        uses: action-badges/core@0.2.2
        # if: contains(github.ref, 'main')
        with:
          label: coverage
          message: ${{ steps.coverage.outputs.badge-text }}
          message-color: ${{ steps.coverage.outputs.badge-color }}
          file-name: coverage.svg
          badge-branch: badges
          github-token: "${{ secrets.GITHUB_TOKEN }}"
